.view-wrapper {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.connect-container {
  text-align: center;
}

.connect-btn {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,0.3);
  background: transparent;
  color: #7c7c7c;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.connect-btn:hover {
  border-color: #007AFF;
  color: #007AFF;
}

.input-group {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.input-group input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #111;
  color: white;
}

.input-group button {
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background: #007AFF;
  color: white;
  cursor: pointer;
}

/*
-------------------------------------------------------------------------------------- 
*/

.graph-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #222222; /* 다크 배경 */
} 

/* 그래프 컨테이너 */
.graph-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  /* border: 1px solid #393E46;
  border-radius: 8px; */
  background-color: #222222; /* 그래프 내부 배경 */
  overflow: hidden;
}

/* 설정 버튼 */

.settings-wrapper {
  position: absolute;     /* 화면 기준으로 고정 */
  bottom: 24px;        /* 화면 하단에서 24px 위 */
  right: 24px;         /* 화면 오른쪽에서 24px 안쪽 */
  z-index: 9999;       /* 항상 위 */
  pointer-events: none; /* wrapper 자체는 클릭 무시 */
}

.settings-btn {
  pointer-events: auto; /* 버튼은 클릭 가능 */
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  text-decoration: none; 
}
