.login-container {
    height: 100%;    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    height: 100%;
}
.font-bold {
    font-weight: bold;
}
/* 툴팁 */
.tool-tip.version-tip::after {
    content: "아직 개발중인 알파버전입니다.\A   사소한 버그가 있을 수 있습니다.\A  서비스에 대한 많은 의견 바랍니다.";
    top: -64px;
}
.tool-tip.version-tip::before {
    transform: rotate(180deg);
    top: -3px;
}

.blank-description,
.blank-login {
    width: 356px;
    height: 400px;
    max-width: 400px;
    font-weight: 600;
}
.blank-description {
    border-right: 1px solid var(--border-divider);
}
.blank-description .version-info {
    font-size: 14px;
    line-height: 1.14;
    color: var(--border-icon);
    margin: 0 0 6px;
}
/* .blank-description .logo {
    width: 100%;
    margin: 0 0 60px 4px;
    background: url('src/assets/images/svg/src_logo_185.svg') no-repeat 0% center;
} */

.blank-description .logo > img {
    margin: 15px 0 0 32px;
}

.mobile .blank-description .logo > img {
    margin: 7px 0 0 25px;
}

.blank-description .main-title {
    font-family: 'Pretendard-Bold';
    font-size: 38px;
    line-height: 1.18;
    color: var(--primary1);
}
.blank-description .main-title .random-word {
    display: inline-block;
    padding: 0 8px;
    margin: 0 4px 0 0;
    background: var(--primary1);
    color: var(--text-title-dark);
}
.blank-description .description {
    margin: 11px 0 0;
    color: var(--text-body);
    padding: 0 30px 0 0;
    line-height: 1.39;
    font-size: 18px; /* var(--font-size-content);*/
}

.blank-description .description.update {
    font-size: 16px;
}

.blank-description .description .blue-font {
    color: var(--primary2);
}
.look-around-btn {
    margin-top: 10px;
    font-weight: 100;
    font-size: var(--font-size-controll);
    cursor: pointer;
}
/* login */
.blank-login.flex-box {
    flex-direction: column;
}
.blank-login .premium-join {
    cursor: default;
    line-height: 1.19;
    color: var(--text-hint);
    margin: 0 0 24px;
    font-size: var(--font-size-controll);
}
.blank-login .premium-join > span {
    display: inline-block;
    width: 44px;
    height: 1px;
    margin: 0 8px;
    background-color: var(--text-hint);
    vertical-align: middle;
}
.blank-login .login-btn {
    width: 296px;
    height: 40px;
    margin: 24px 0 8px;
    padding: 11px 0 10px 11px;
    border-radius: 8px;
    border: solid 1px var(--primary1);
    background-color: var(--bg1);
    font-weight: normal;
    font-size: var(--font-size-controll);
    color: var(--text-title);
    line-height: 0;
    vertical-align: middle;
    background: url('../../assets/images/svg/logo_google_18.svg') no-repeat 5% center;
}
.blank-login .login-btn.apple {
    background: url('../../assets/images/svg/logo_apple_18.svg') no-repeat 5% center;
}
.quick-menu {
    width: 100%;
    text-align: center;
    /* position: fixed; */
    margin: 12px 0;
    bottom: 10px;
    font-size: var(--font-size-description);
    line-height: 1.17;
    color: var(--border-icon);
}
.quick-menu ul {
    margin: 0 0 6px;
}
.quick-menu ul li {
    display: inline;
    cursor: pointer;
    padding: 0 12px;
    border-right: 1px solid var(--border-icon);
}
.quick-menu ul li:last-child {
    border-right: none;
}
.quick-menu ul li.download {
    color: black;
}
.quick-menu ul li > a {
    text-decoration: none;
}
.quick-menu .app-version > span {
    margin: 0 8px 0 0;
}
.inquiry-menu-wrap .popup-header {
    display: block;
    padding: 26px 0 9px 32px;
}
.inquiry-menu-wrap .popup-header > p {
    line-height: 1.21;
    height: 29px;
    font-weight: bold;
    text-align: left;    
    font-size: 24px;
}
.inquiry-menu-wrap .close-btn-box {
    height: 54px;
    text-align: right;
    padding: 12px 20px 12px 0;
}
/* .close-btn-box .close-btn {
    width: 32px;
    height: 32px;
    background: url('src/assets/images/svg/ic_close_32-black.svg') no-repeat center center;
} */
/* 임시 문구 */
/* .warning {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 110px;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
} */
.login-guide {
    padding: 32px;
    font-size: 12px;
    line-height: 17px;
    margin: 12px 0 0;
}

/* 로그인중 */
.logining-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.logining-container span {
    letter-spacing: 2px;
    font-size: 18px;

}
/* mobile */
.mobile .login {
    flex-direction: column;
    padding: 88px 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.mobile .blank-description {
    border-right: none;
    padding: 0 25px;
} 
.mobile .blank-description .version-info {
    font-size: 12px;
}
/* .mobile .blank-description .logo {
    width: 100%;
    height: 24px;  
    margin: 0 0 12px;
    background: url('src/assets/images/svg/src_logo_112.svg') no-repeat 0% center;
} */
.mobile .blank-description .main-title {
    font-size: 40px;
}
.mobile .blank-description .description {
    margin: 14px 0 0; /*131px 0 0 */
    font-size: 17px;
}
.mobile .blank-description .description.update {
    font-size: 15px;
}
.mobile .blank-login .premium-join {
    margin: 56px 0 24px;
}
.mobile .warning {
    position: unset;
    padding: 0 30px;
}
.blank-login .login-btn {
    margin: 0 0 8px;
}
