/* You can add global styles to this file, and also import other style files */
:root {
  --ui-font: -apple-system,
    BlinkMacSystemFont,
    "Apple SD Gothic Neo",
    "SF Pro Text",
    "Pretendard",
    "Noto Sans KR",
    sans-serif;
}

html,
body {
  font-family: var(--ui-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #000000; /* 전체 배경: 다크 */
  color: #EEEEEE;             /* 기본 글자 색상 */
}
