/* You can add global styles to this file, and also import other style files */
:root {
  --ui-font: -apple-system,
    BlinkMacSystemFont,
    "Apple SD Gothic Neo",
    "SF Pro Text",
    "Pretendard",
    "Noto Sans KR",
    sans-serif;
}

html,
body {
  font-family: var(--ui-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #000000; /* 전체 배경: 다크 */
  color: #EEEEEE;             /* 기본 글자 색상 */
}

/* =========================
   전체 스크롤바 스타일
   ========================= */

.sb-change-url::-webkit-scrollbar,
.connect-container::-webkit-scrollbar,
.toast::-webkit-scrollbar {
  width: 8px;
}

.sb-change-url::-webkit-scrollbar-track,
.connect-container::-webkit-scrollbar-track,
.toast::-webkit-scrollbar-track {
  background: #111;
}

.sb-change-url::-webkit-scrollbar-thumb,
.connect-container::-webkit-scrollbar-thumb,
.toast::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #111;
}

.sb-change-url::-webkit-scrollbar-thumb:hover,
.connect-container::-webkit-scrollbar-thumb:hover,
.toast::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
