
<div class="page-container">

  <div class="page-header">

    <div class="breadcrumb">

      <a routerLink="/service">
        내 서비스 관리
      </a>

      <span>›</span>

      <span>자동화 등록 관리</span>

    </div>

    <h1>자동화 등록 관리</h1>

    <p>
      현재 사용 중인 자동화 등록 정보를 관리합니다.
    </p>

  </div>

  <div class="table-card">

    <table class="service-table">

      <thead>
        <tr>
          <th>
            <div class="th-with-help">

              <span>사용중인 자동화</span> 

            </div>

          </th>

           <th>키워드</th>

          <th>동작 여부</th>

          <th>동작 상황</th>

          <th>로그 보기</th>

        </tr>
      </thead>

      <tbody>

        <tr>

          <td>

            <div class="automation-name">
              AI 노트 키워드 추출  <span class="help-icon">

                ⓘ

                <span class="tooltip">

                  노트 DB에 페이지가 생성되거나 수정되면
                  AI가 자동으로 키워드를 추출하여 지정된 속성에 저장합니다.

                </span>

              </span>
            </div>

            

          </td>

          <!-- 키워드 컬럼 -->
          <td>
            <span class="automation-tag">
              #라이프업
            </span>&nbsp;
            <span class="automation-tag">
              #세컨드브레인
            </span>
          </td>

          <td>
            <span class="badge success">
              동작중
            </span>
<!-- 
            <span class="badge success">동작중</span>
<span class="badge pending">대기중</span>
<span class="badge error">오류</span> -->

          </td>

          <td>

            <div class="automation-desc">

              노트 DB에서 페이지 생성 또는 수정<br>

              내용이 변경되면 자동 감지<br>

              변경 후 약 1분 뒤 실행

            </div>

          </td>

          <td>

            <button class="log-btn">
              로그 보기
            </button>

          </td>

        </tr>

        <!-- 루틴 추가하기 -->
        <tr>

          <td>

            <div class="automation-name">
              루틴기록 자동생성  <span class="help-icon">

                ⓘ

                <span class="tooltip">
                  루틴 DB에 매일 지정된 시간에 루틴 기록이 자동 생성됩니다.
                </span>

              </span>
            </div>

            

          </td>

          <!-- 키워드 컬럼 -->
          <td>
            <span class="automation-tag">
              #라이프업
            </span>&nbsp;
            <span class="automation-tag">
              #루틴
            </span>
          </td>

          <td>
            <span class="badge success">
              동작중
            </span>
<!-- 
            <span class="badge success">동작중</span>
<span class="badge pending">대기중</span>
<span class="badge error">오류</span> -->

          </td>

          <td>

            <div class="automation-desc">

              루틴기록 DB에서 페이지 생성<br>

              매일 자정에 실행

            </div>

          </td>

          <td>

            <button class="log-btn">
              로그 보기
            </button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>