<div class="routine-layout">

  <div class="routine-header">
    <nav class="sub-menu">
      <a routerLink="/workspace/routine/dashboard" routerLinkActive="active" class="sub-menu-item">
        대시보드
      </a>
      <a routerLink="/workspace/routine/myroutine" routerLinkActive="active" class="sub-menu-item">
        내 루틴
      </a>
      <a routerLink="/workspace/routine/find" routerLinkActive="active" class="sub-menu-item">
        추천 습관
      </a>
    </nav>
  </div>

  <div class="routine-notice">
    <div class="routine-notice-content">
      루틴 서비스는 현재 <strong>시험 운영 중</strong>이며, 12월 1일 정식 오픈 예정입니다.
      <!-- <a href="#">자세히 보기</a> -->
    </div>
    <!-- <button type="button" class="routine-notice-close" aria-label="닫기">×</button> -->
  </div>


  <div class="routine-content">
    <router-outlet></router-outlet>
  </div>

</div>